# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.tar
*.log

#compiled binaries
/bin/
/src/github.com/seantcanavan/vendor/

#ignore password files
src/github.com/seantcanavan/assets/emaillogindetails.txt

#ignore glide files
src/github.com/seantcanavan/glide.lock
